html, body {
    margin:0;
    padding:0;
    height:100%;
}

.app {
    min-height:100%;
    position:relative;
}

.pt-10 {
    padding-top:10px
    }
    
    .pt-20 {
    padding-top:20px
    }
    
    .pb-20 {
    padding-bottom:20px
    }
    
    .pb-10 {
    padding-bottom:10px
    }

    .pt-30 {
        padding-top: 30px;
    }
    .pb-30 {
        padding-bottom: 30px;
    }

    .profile ul li {
        list-style: none;
        font-size: 18px;
        padding: 2px;
    }
    .profile .photo {
        width: 100px;
        border: 3px solid#1f77b4;
        border-radius: 100px;
        height:105px;
        display: block;
        margin: 0 auto;
    }
    .bold {
        font-weight: bold;
    }

    .table-wrap::-webkit-scrollbar {
    width:10px
    }
    
    .table-wrap::-webkit-scrollbar-track {
    background:#cadff1
    }
    
    .table-wrap::-webkit-scrollbar-thumb {
    background:#1f77b4;
    }
    
    .chart-container,.bar-container {
    overflow:visible
    }
    
    svg.nvd3-svg {
    overflow:visible
    }
    
    .country-cont,.sorter {
    cursor:pointer
    }
    
    .line-btn-container {
    margin-left:5%;
    padding-top:10px
    }
    
    .country-select,.mode-select {
    height:15px;
    width:15px;
    border-radius:100%;
    border:1px solid #fff;
    cursor:pointer
    }
    
    .mode-select.asc {
    background-color:#f08080
    }
    
    .mode-select.dsc {
    background-color:orange
    }
    
    .country-select.country-pak {
    background-color:green
    }
    
    .country-select.country-aus {
    background-color:#ff0
    }
    
    .country-select.country-eng {
    background-color:blue
    }
    
    .country-select.country-sl {
    background-color:rgba(17,0,255,0.308)
    }
    
    .country-select.country-nz {
    background-color:#000
    }
    
    .country-select.country-sa {
    background-color:#3cd13c
    }
    
    .country-select.country-sl {
    background-color:rgba(0,0,255,0.459)
    }
    
    .country-all {
    background-color:#ff7f50
    }
    
    .selfish-stats {
    width:100%
    }
    
    .century-table {
    padding:40px 0 0
    }
    
    .table-wrap {
    height:250px;
    overflow:auto;
    position:relative
    }
    
    .century-table table {
    width:100%
    }
    
    table td,th {
    border:1px solid #ddd;
    padding:8px
    }
    
    table tr:nth-child(even) {
    background-color:#f2f2f2
    }
    
    .century-table .table-result .won {
    float:left;
    width:50%
    }
    
    .century-table .table-result .lost {
    float:right;
    width:50%
    }
    
    .century-table .table-result h4:nth-child(1) {
    margin:0;
    float:left
    }
    
    .century-table .table-result h4:nth-child(2) {
    float:right;
    margin:0
    }
    
    .donut-chart-century {
    width:100%
    }
    
    .line-chart-century {
    height:250px
    }
    
    .content {
    padding:20px
    }
    
    .heading-cont {
    padding:10px 0 20px
    }
    
    .heading {
    text-align:center
    }
    
    .heading-2 {
    font-size:22px
    }
    
    .century-graph-container {
    padding-top:20px
    }
    
    .positive {
    color:#1a5782;
    }
    
    .show-bardata {
    display:block;
    margin:0 auto
    }
    
    .discrete-bar {
    display:none
    }
    
    .totalRuns .nv-x text {
    display:none
    }
    
    .totalRuns {
    display:block
    }
    
    .average-analysis {
    display:none
    }
    
    .home {
    height:300px
    }
    
    .away {
    height:300px
    }
    
    .stat {
    font-size:18px
    }
    
    .HAresult {
    height:400px
    }
    
    .no-overflow.table-wrap {
    overflow:hidden
    }

    .final-table-result {
        
        padding-top: 30px;
    }

    .final-table-result .heading {
        padding:0px 45px 0px 45px;
        text-align: justify;
        line-height: 31px;
    }

