<div>
    total runs scored
    <span>{{totalRuns}}</span>

</div>

<div class="selfish-stats">
<div class="chart-container">
    <div class="line-btn-container">
        <div class="country-cont">
            <button ng-click="selectCountry('Pakistan')" class="country-select country-pak"></button>
            <span>Pakistan</span>
        </div>
        <div class="country-cont">

            <button ng-click="selectCountry('Australia')" class="country-select country-aus"></button>
            <span>Australia</span>
        </div>
        <div class="country-cont">

            <button ng-click="selectCountry('England')" class="country-select country-eng"></button>
            <span>England</span>
        </div>
        <div class="country-cont">

            <button ng-click="selectCountry('Sri Lanka')" class="country-select country-sl"></button>
            <span>Sri Lanka</span>
        </div>
        <div class="country-cont">

            <button ng-click="selectCountry('New Zealand')" class="country-select country-nz"></button>
            <span>New Zealand</span>
        </div>
        <div class="country-cont">

            <button ng-click="selectCountry('South Africa')" class="country-select country-sa"></button>
            <span>South Africa</span>
        </div>
        <div class="country-cont">
            <button ng-click="selectCountry()" class="country-select country-all"></button>
            <span>All</span>
        </div>
    </div>

    <div class="line-chart-century">
    <nvd3 options="options" data="data"></nvd3>
</div>
        <div class="donut-chart-century">
            <nvd3 options="donutOptions" data="donutData"></nvd3>
        </div>
        <!-- <line-chart data="tempHolder" height="250px" country="cdata" score="vsScore"></line-chart> -->
        
    </div>
    
    
</div>
    
    
    
    
    
    
    
    <div class="century-table">
            <h3 class="heading">asdasd</h3>
        <div class="table-wrap">
            <table style="margin: 0px auto;">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Result
                    </th>
                    <th>
                        Score
                    </th>
                </tr>
                
                <tr ng-repeat="(key,value) in dataForLine.Match">
                    <td>{{key}}</td>
                    <td>{{value.result}}</td>
                    <td>{{value.score}}</td>
                </tr>
                
            </table>
        </div>
        <div class="table-result">
            <div class="won">
                <p>Total Matches Won
                    <span>{{win}}</span>
                </p>
            </div>
            <div class="lost">
                <p>Total Matches Lost
                    <span>{{loss}}</span>
                </p>
            </div>
            <div class="centuries">
                    <p>Total centuries
                        <span>{{totalCenturies}}</span>
                    </p>
            </div>
        </div>
    </div>
    
    











<div class="bar-container">

    <nvd3 options="optionsc" data="datac"></nvd3>


</div>
<div class="selfish-container-away">

    <nvd3 options="optionsaway" data="dataaway" api="api"></nvd3>


</div>
<div class="selfish-container-home">

    <nvd3 options="optionshome" data="datahome"></nvd3>


</div>

<div>
    <nvd3 options="optionsbaraway" data="databaraway"></nvd3>


</div>



