<!-- <div>
    total runs scored
    <span>{{totalRuns}}</span>

</div>




    
    <div class="selfish-analysis col-md-12">
        <div class="content col-md-6 pull-left">
        <div class="result">
            <div class="heading ">
                Match results when Sachin has scored a century
            </div>
            
                    <div class="table-result">
                            <div class="won">
                                <p>Total Matches Won
                                    <span>{{win}}</span>
                                </p>
                            </div>
                            <div class="lost">
                                <p>Total Matches Lost
                                    <span>{{loss}}</span>
                                </p>
                            </div>
                            <div class="centuries">
                                    <p>Total centuries
                                        <span>{{totalCenturies}}</span>
                                    </p>
                            </div>
                        </div>
                
           
        </div>
    </div>
        <div class="donut-result col-md-6 pull-right">
            <div class="donut-chart-century">
                    <nvd3 options="donutOptions" data="donutData"></nvd3>
                </div>
        </div>
        </div>
                
</div>
    
    
    
    
    
    
    
   
    
    











<div class="bar-container">

    <nvd3 options="optionsc" data="datac"></nvd3>


</div>
<div class="selfish-container-away">

    <nvd3 options="optionsaway" data="dataaway" api="api"></nvd3>


</div>
<div class="selfish-container-home">
    
    <nvd3 options="optionshome" data="datahome"></nvd3>
    
    
</div>

<div>
    <nvd3 options="optionsbaraway" data="databaraway"></nvd3>
    
    
</div>


-->

<div class="container-fluid">
    <div class="pt-20 col-md-12 col-xs-12">

        <div class="content">
            <div class="heading-cont">
                <h2 class="heading">
                    Sachin's Batting Performance against other teams
                </h2>
            </div>
        </div>

        <div class="batting-performance col-md-12 col-xs-12 pb-20">
            <div class="bar-container col-md-6 col-xs-6">
                <div class="data-values col-md-12">
                    <div class="content">
                        <div class="heading-container pb-10">
                            * <em>This is a ranking system where opposition average is multiplied by its strength (weight) .
                            Australia's weight is 1 and Nambia's weight is 0.1 </em>
                        </div>
                        <div class="table-wrap scrollbar">
                                <table style="width: 100%;">
                                    <tr>
                                        <th style="text-align:center">
                                            Team
                                        </th>
                                        <th style="text-align:center">
                                          Points *
                                        </th>
                                  
                                    </tr>
        
                                    <tr ng-repeat="(key,value) in weightedResult">
                                        <td style="text-align:center">{{key}}</td>
                                        <td  style="text-align:center">{{value.average}}</td>
                                  
                                    </tr>
                                    <!-- <td style="text-align:center">{{value}}</td> -->
                                        <!-- <td>{{value.score}}</td> -->
        
                                </table>
                            </div>
                            <div class="show pt-20 pb-10">
                        <button class="btn btn-primary show-bardata" ng-click="main.initBarGraph()">Show Analysis</button>
                    </div>
                    </div>
                    <div class="discrete-bar">
                        <div class="col-md-3 col-xs-3">
                            <div class="sorter">
                                <button ng-click="main.initBarGraph('asc');main.initStackedMultiBar('asc');" class="mode-select asc"></button>
                                <span>Ascending</span>
                            </div>

                        </div>
                        <div class="col-md-3 col-xs-3">
                            <div class="sorter">
                                <button ng-click="main.initBarGraph('dsc');main.initStackedMultiBar('dsc');" class="mode-select dsc"></button>
                                <span>Descending</span>
                            </div>

                        </div>
                        
                        <nvd3 options="battingScoreTotalOptions" data="battingScoreTotal"></nvd3>
                    </div>
                    </div>
             
            </div>

            <div class="totalRuns col-md-6">
                    <nvd3 options="stackedBarOptions" data="stackedBarData"></nvd3>
                     <div class="average-analysis content">
                         <h3 class="heading-4">
                            Total Carrer Average : {{main.sendDataforAverage()}}
                         </h3>
                         <h3 class="heading-big positive">
                             According to the ranking system, even though sachin has scored more runs against Sri Lanka, He has delieverd better perfomance against a dominant opposition like Australia
                              followed by  New Zealand, Sri Lanka, Pakistan & England.
                            </h3>
                         <h1>

                         </h1>
                        
            </div>
            
        </div>
</div>

        <div class="col-md-12 col-xs-12 pt-20">

            <div class="heading-cont">
                <h2 class="heading">Sachin's Century Record</h2>
            </div>

            <div class="col-md-8 col-xs-6 century-graph-container">
                <div class="col-md-12 col-xs-12">
                    <div class="col-md-2 col-xs-2">
                        <div class="country-cont">
                            <button ng-click="selectCountry('Pakistan')" class="country-select country-pak"></button>
                            <span>Pakistan</span>
                        </div>

                    </div>
                    <div class="col-md-2 col-xs-2">
                        <div class="country-cont">

                            <button ng-click="selectCountry('Australia')" class="country-select country-aus"></button>
                            <span>Australia</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <div class="country-cont">

                            <button ng-click="selectCountry('England')" class="country-select country-eng"></button>
                            <span>England</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <div class="country-cont">

                            <button ng-click="selectCountry('Sri Lanka')" class="country-select country-sl"></button>
                            <span>Sri Lanka</span>
                        </div>

                    </div>

                    <div class="col-md-3 col-xs-3 ">
                        <div class="country-cont">

                            <button ng-click="selectCountry('New Zealand')" class="country-select country-nz"></button>
                            <span>New Zealand</span>
                        </div>
                    </div>
                    <div class="col-md-2  col-xs-2">
                        <div class="country-cont">

                            <button ng-click="selectCountry('South Africa')" class="country-select country-sa"></button>
                            <span>South Africa</span>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-2  col-xs-2">
                        <div class="country-cont">
                            <button ng-click="selectCountry()" class="country-select country-all"></button>
                            <span>All</span>
                        </div>
                    </div>
                </div>

                <div class="line-chart-century">
                    <nvd3 options="options" data="data"></nvd3>
                </div>
            </div>


            <div class="col-md-4 col-xs-4">
                <div class="century-table">

                    <div class="table-wrap scrollbar">
                        <table style="margin: 0px auto;">
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Result
                                </th>
                                <th>
                                    Score
                                </th>
                            </tr>

                            <tr ng-repeat="(key,value) in dataForLine.Match">
                                <td>{{key}}</td>
                                <td>{{value.result}}</td>
                                <td>{{value.score}}</td>
                            </tr>

                        </table>
                    </div>
                </div>

            </div>
        </div>


        



        <div class="century-analysis col-md-12 col-xs-12 pt-20">
            <div class="col-md-6 col-xs-4">
                <div class="content">
                    <div class="heading-cont">
                        <h2 class="heading-2">Match result When Sachin has scored a 100 {{againstTeam}}</h2>
                    </div>
                    <div class="details">
                        <div class="table-result">
                            <div class="won">
                                <p>Total Matches Won
                                    <span>{{win}}</span>
                                </p>
                            </div>
                            <div class="lost">
                                <p>Total Matches Lost
                                    <span>{{loss}}</span>
                                </p>
                            </div>
                            <div class="centuries">
                                <p>Total centuries
                                    <span>{{totalCenturies}}</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="heading-big positive">
                        <h1>Overall Sachin is not a selfish player. India has won 67 % of the matches when sachin has scored
                            a century. </h1>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="donut-chart-century">
                    <nvd3 options="donutOptions" data="donutData"></nvd3>
                </div>

            </div>
        </div>



    </div>

    <div class="home-away-stats col-md-12 col-xs-12">
        
        <div class="content">
            <div class="heading-cont">
                <h2 class="heading">
                    Sachin's  Performance in Home Vs Away
                </h2>
                <h3 class="heading">Team win/loss in home & away matches when sachin was batting</h3>
            </div>
        </div>
        
        <div class="col-md-6 home">
            <div class="selfish-container-home">
        
                <nvd3 options="optionshome" data="datahome"></nvd3>
                
                
            </div>
        </div>


        <div class="col-md-6 away">
              
    <div class="selfish-container-away">

        <nvd3 options="optionsaway" data="dataaway" api="api"></nvd3>
    
    
    </div>





        </div>

    </div>




